<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'DDChar/index.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>DDChar</title>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href=" ">Character</a>
            <a href="spells/">Spells</a>
            <a href="createChar/">Create Character</a>
        </div>
        <div>
            <h1>User list</h1>
            <!--craetes variable userbase that goes through the variable all(established in views.py)-->
            {% for list in all %} 
            <p>{{list.u_name}}  {{list.pc_name}} {{list.pc_key}} {{list.pc_class}} {{list.pc_level}} {{list.bg_name}} {{list.bg_race}} {{list.bg_age}} {{list.bg_alignment}}</p>
            {% endfor %}
        </div>
    </body>
</html>