<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'DDChar/spells.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>DDChar</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/">Character</a>
            <a class="active" href="/spells">Spells</a>
            <a href="/createChar">Create Character</a>
        </div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="POST" action="/spells/">
                            {% csrf_token %}
                            {{ form }}
                            <div class="form-group">
                                <label>Search</label>
                                <input id="search" type="text" class="form-control" placeholder="" name="search" value="{{ search }}">
                                <button class="btn btn-secondary" type="submit" name="searchbtn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <h1>Spell Catalog</h1>
                        {% for spell in singleSpell %}
                        <p>{{ spell.sp_name}} | {{spell.sp_slotLevel}} | {{spell.sp_range}} | {{spell.sp_castingtype}} |
                            {{spell.sp_effect}} | {{spell.sp_die}}</p>
                        {% endfor %}
                        {% for spellList in allSpell %}
                        <p>{{ spellList.sp_name}} | {{spellList.sp_slotLevel}} | {{spellList.sp_range}} | {{spellList.sp_castingtype}} |
                            {{spellList.sp_effect}} | {{spellList.sp_die}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-7">
                        <h1>Create a Spell</h1>
                        <form method="POST" action="/spells/">
                            {% csrf_token %}
                            {{ form }}
                            <div class="form-group">
                                <label>Name</label>
                                <input id="name" type="text" class="form-control" placeholder="Name" name="sp_name" value="{{ sp_name }}">
                                <label>Slot Level</label>
                                <input id="slotLevel" type="number" class="form-control" placeholder="Slot Level" name="sp_slotlevel" value="{{ sp_slotlevel }}">
                                <label>Range</label>
                                <input id="range" type="number" class="form-control" placeholder="Range" name="sp_range" value="{{ sp_range }}">
                                <label>Casting Type</label>
                                <input id="castingType" type="text" class="form-control" placeholder="Type" name="sp_castingtype" value="{{ sp_castingtype }}">
                                <label>Effect</label>
                                <input id="effect" type="text" class="form-control" placeholder="Effect" name="sp_effect" value="{{ sp_effect }}">
                                <label>Die</label>
                                <input id="die" type="text" class="form-control" placeholder="Die" name="sp_die" value="{{ sp_die }}">
                                <label>List the Classes That Can Cast This Spell</label>
                                <input id="classes" type="text" class="form-control" placeholder="e.g. bard, paladin, rogue" name="classnames">
                            </div>
                            <button class="btn btn-secondary" type="submit" name='createbtn'>Create</button>
                            <button class="btn bnt-secondary" type="submit" name="editeBTN">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-7">
                        <h1>Delete a Spell</h1>
                        <form method="POST" action="/spells/">
                            {% csrf_token %}
                            {{ form }}
                            <div class="form-group">
                                <label>Name</label>
                                <input id="name" type="text" class="form-control" placeholder="Name" name="sp_name" value="{{ sp_name }}">
                            </div>
                            <button class="btn btn-secondary" type="submit" name='deletebtn'>Delete</button>
                        </form>
                    </div>
                    <div class="col-sm-5">
                        <h1>Edit a Spell</h1>
                        <form method="POST" action="/edit/">
                            {% csrf_token %}
                            {{ form }}
                            <div class="form-group">
                                <label>Name</label>
                                <input id="name" type="text" class="form-control" placeholder="" name="sp_name" value="{{ sp_name }}">
                            </div>
                            <button class="btn btn-secondary" type="submit" name="editbtn">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>