<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'DDChar/spells.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>DDChar</title>
    </head>
    <body>
        <div class="topnav">
            <a href=" ">Character</a>
            <a class="active" href="spells/">Spells</a>
        </div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>Spell Catalog</h1>
                        {% for spellList in allSpell %}
                        <p>{{ spellList.sp_name}} | {{spellList.sp_slotLevel}} | {{spellList.sp_range}} | {{spellList.sp_castingtype}} |
                            {{spellList.sp_effect}} | {{spellList.sp_die}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-7">
                        <h1>Create a Spell</h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>